<%= current_user.email %>
<div class="row">
	<div class="col-xs-12 col-lg-4 col-md-4 col-sm-6">
		<h2> Add a comment :)</h2>
		<%= render 'comments/form' %>
	</div>
</div>
<div class="row">
	<div class="col-lg-6">
		<h1>RECENT COMMENTS</h1>
		<% @user.comments.order("created_at DESC").each do |comment| %>
			<div class="panel panel-default">
			  <div class="panel-heading">
			  <% if comment.whocomment == "Anonnymus" %>
				<strong>Anonnymus</strong> 
			  <% else %>
			    <strong><%= link_to comment.whocomment, user_path(User.find_by_username(comment.whocomment).id) %></strong> 
				<% end %>
			    commented 

			    <%= link_to [comment.user, comment],
					         method: :delete,
					         data: { confirm: 'Are you sure?' }, class: "pull-right" do %> 
				<span class ="glyphicon glyphicon-trash" ></span>
				<% end %>
			  </div>
			  <div class="panel-body">
			    <%= comment.text %>
			  </div>
			</div>
		<% end %>
	</div>
</div>
